/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/*** NAVIGATION ***/

header {
  display: block;
  float: left;
  height: 55px;
  width: 100%;
}

.nav-1,
.nav-2,
.nav-3 {
  float: left;
  text-align: center;
  width: 20%;
}

.nav-2 {
  width: 60%;
}

.nav-3 {
  padding-top: 15px;
}

nav ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

nav li {
  float: left;
  padding: 0 26px;
}

/*** MAIN ***/
main {
  clear: both;
  height: 1405px;
}

.hero-text {
  padding-left: 12.5%;
  margin-bottom: 300px;
}

.features-container {
  height: 600px;
  padding: 190px 20% 50px 20%;
  width: 100%;
  margin-bottom: 50px;
  clear: both;
}

.features {
  float: left;
  width: 30.5%;
  text-align: center;
}

.features:nth-child(2) {
  margin-left: 4%;
  margin-right: 4%;
}

/*** ASIDE ***/
aside {
  background-color: #f3f4f6;
  display: block;
  height: 350px;
  margin-top: 100px;
}

aside section,
aside figure {
  float: left;
  width: 50%;
}

aside section {
  padding-left: 18%;
}

aside figure {
  margin: 0;
  text-align: center;
}

aside img {
  width: 55%;
  margin-top: 40px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*** TYPOGRAPHY ***/
h1, h2, h4 {
  color: white;
  font-size: 5rem;
  font-weight: 200;
  text-transform: uppercase;
}

h2 {
  color: black;
  font-size: 2.7rem;
  padding-right: 5px;
  margin-bottom: 20px;
}

h4,
.hours-of-operation {
  font-size: 1.125rem;
}

.logo, .logo-copyright {
  font-family: "Dancing Script", cursive;
  font-size: 1.125rem;
  margin-top: 20px;
}

.logo-copyright {
  font-size: 0.5rem;
  vertical-align: sub;
}

/*** MAIN STYLES ***/
main {
  background: no-repeat top left/100% url("../img/hero-img.png");
}

.hero-text {
  padding-left: 21%;
  padding-top: 200px;
  text-transform: uppercase;
}

.features-container img {
  width: 30%;
  margin-left: -10%;
}

/*** BUTTON ***/
.button {
  display: inline-block;
  height: 40px;
  width: 150px;
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
}


/*** COUPON ***/
.services-coupon {
  position: absolute;
  top: 775px;
  left: 21%;
  background-color: black;
  color: white;
  width: 18%;
  height: 250px;
  padding: 40px 30px;
}

.services-coupon span:first-child {
  display: inline-block;
  margin-bottom: 20px;
}

.services-coupon span > span {
  font-size: 1.7rem;
  font-weight: 700;
}

.services-coupon .button {
  background-color: white;
  color: black;
  display: inline-block;
  margin-top: 30px;
}

.hours-of-operation {
  color: white;
  position: absolute;
  right: -50px;
  top: 336px;
  transform: rotate(0.25turn );
  height: 30px;
}

/*** CIRCLE BUTTONS IN MAIN SECTON ***/
.circle-buttons-container {
  margin-right: 7%;
  position: absolute;
  right: 1.5%;
  top: 875px;
  transform: rotate(0.25turn);
}

.circle-buttons {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin: 8px;
}

.circle-buttons i {
  position: absolute;
  transform: rotate(0.25turn);
  right: 26px;
  margin-top: 16px;
}

/******************************************************
*******************************************************
                  LOOKBOOK PAGE STYLES 
********************************************************
*******************************************************/

.staff-photos-container {
  height: 500px;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 50px;
}

.staff-photos img{
  width: 25%;
  float: left;
  margin: 4%;
}

.name-title-container {
  position: absolute;
  text-align: center;
  background-color: black;
  width: 14.5%;
  height: 8%;
}

.text-container {
  color: white;
  padding-top: 10px;
}

.name-title-container-1 {
  top: 410px;
  left: 295px;
}

.name-title-container-2 {
  top: 410px;
  left: 646px;
}

.name-title-container-3 {
  top: 410px;
  left: 990px;
}

.lookbook-coupon {
  height: 350px;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 50px; 
  padding: 25px 0 0 4%;
  background: #f1f1f1 url(../img/funny-bangs.png) right/25% no-repeat;
}

.lookbook-coupon-button {
  padding: 8px;
}

.lookbook-coupon-text {
  font-weight: 200;
}

.lookbook-coupon-text span {
  font-weight: 700;
  font-size: 3.2rem;
}

.lookbook-title {
  text-align: center;
}